.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #d41b1b;
  color: white;
  font-family: sans-serif;
}

button {
  background: #38bdf8;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}